<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="widget-area no-padding blank">
            <div class="status-upload">
                <form action="/users/add" method="post" style="width:100%">
                    <textarea id="title" name="title" style="height:20px" placeholder="Title of Blog Post"></textarea>
                    <textarea id="body" name="body" placeholder="Body of blog post"></textarea>
                    <button type="submit" class="btn btn-success green">Post</button>

                </form>
                <!-- <button onclick="addPost()" class="btn btn-success green">Post</button> -->
            </div>
            {{#each post}}
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="status-upload form textarea">
                        <div class="post">
                            <div class="content">
                                <h1>{{this.title}}</h1>
                                <br/>
                                <p>{{this.body}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {{/each}}
        </div>
    </div>
</div>