<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="widget-area no-padding blank">
            <div class="status-upload">
                <form style="width:100%">
                    <textarea id="title" style="height:20px" placeholder="Title of Blog Post"></textarea>
                    <textarea id="body" placeholder="Body of blog post"></textarea>

                </form>
                <button onclick="addPost()" class="btn btn-success green">Post</button>
            </div>
        </div>
    </div>
</div>